@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  
  @keyframes progress {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body,
  html,
  #root {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    margin: 0;
    padding: 0;
  }

  #model-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
  }

  #model-view-fallback {
    position: absolute;
    color: white;
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: nowrap;
    pointer-events: none;
  }

  #texture-view-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }

  #texture-view {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #texture-view-status {
    position: absolute;
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    white-space: nowrap;
    pointer-events: none;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-resize-bar-background: #222222;
    --color-resize-bar: #777777;
    --color-resize-bar-active: #999999;
  }
  .dark {
    --background: 0 0% 10.1961%;
    --foreground: 0 0% 85.098%;
    --card: 0 0% 12.549%;
    --card-foreground: 0 0% 85.098%;
    --popover: 0 0% 12.549%;
    --popover-foreground: 0 0% 85.098%;
    --primary: 0 0% 62.7451%;
    --primary-foreground: 0 0% 10.1961%;
    --secondary: 0 0% 18.8235%;
    --secondary-foreground: 0 0% 85.098%;
    --muted: 0 0% 16.4706%;
    --muted-foreground: 0 0% 50.1961%;
    --accent: 0 0% 25.098%;
    --accent-foreground: 0 0% 85.098%;
    --destructive: 0 66.3043% 63.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20.7843%;
    --input: 0 0% 18.8235%;
    --ring: 0 0% 62.7451%;
    --chart-1: 0 0% 62.7451%;
    --chart-2: 187.0588 15.1786% 56.0784%;
    --chart-3: 0 0% 43.9216%;
    --chart-4: 0 0% 34.5098%;
    --chart-5: 0 0% 25.098%;
    --radius: 0.35rem;
    --color-resize-bar-background: #222222;
    --color-resize-bar: #777777;
    --color-resize-bar-active: #999999;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ResizeHandle {
  flex: 0 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: var(--color-resize-bar);
  background-color: var(--color-resize-bar-background);
}

.ResizeHandle[data-resize-handle-active] {
  color: var(--color-resize-bar-active);
}
